$theme-primary-color: #6ccff6;
$theme-x-axis-color: #E76049;
$theme-y-axis-color: #4caf50;
$theme-z-axis-color: #4c9af1;
$theme-default-axis-color: $theme-primary-color;

$mobile: "(max-width: 800px)";