@import "~@sketchpixy/rubix/sass/variables";
@import "../../../theme/variables";

$dashboard-icons-color: darken($theme-primary-color, 15%);

.dashboard {
  .chart-panel-body {
    height: 335px;
  }

  .weather-chart, .dimensions-chart {
    .line {
      stroke-width: 1px;
    }
  }

  [class^="col-"] {
    padding-left: 10px;
    padding-right: 10px;

    @media #{$mobile} {
      padding-left: 5px;
      padding-right: 5px;
    }
  }

}

.sidebar-nav-container .sidebar-nav .sidebar-nav-item .rubix-icon {
  color: $dashboard-icons-color;
}

.nordic-metric-container {

  .rubix-panel-container {
    border-radius: 4px;

    .tile-header {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;

      padding: 5px 1rem;
      font-size: 1.5rem;
      line-height: 2rem;

      @media #{$mobile} {
        font-size: 1.5rem;
      }

      .tile-icon {
        margin-right: 0.5rem;
        font-size: 1.8rem;
        color: $dashboard-icons-color;
      }

    }

    .rubix-panel-body {
      padding: 0;

      .tile-body {
        min-height: 18rem;

        .tile-content {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          top: 0;
          display: flex;
          color: $primary-color;
        }

        .tile-big-val {
          margin: 0;
          font-size: 2.7rem;
          line-height: 3.3rem;
          font-weight: bold;


          @media #{$mobile} {
            font-size: 2.5rem;
            line-height: 3rem;
          }

        }

        .tile-value .unit {
          font-weight: normal;
        }

        .tile-center {
          align-self: center;
          width: 100%;
          padding: 0 1rem;
        }

        .table {
          margin: 0;
          th, td {
            padding: 0;
            border: none;
            text-align: center;
          }
          td {
            font-size: 1.2rem;
            font-weight: bold;
          }
        }

        .simple-text {
          font-size: 1.7rem;
        }

        .color-circle {
          line-height: 2rem;
          font-size: 5rem;
          text-align: center;
        }

      }

      .color-axis-x {
        color: $theme-x-axis-color;
      }

      .color-axis-y {
        color: $theme-y-axis-color;
      }

      .color-axis-z {
        color: $theme-z-axis-color;
      }

    }

  }

}
